[Desktop Entry]
Encoding=UTF-8
Name=Link to How to use TouchDevelop in VM - YouTube
Type=Link
URL=https://youtube.com/watch?v=C6l2Gf3aqSo&cj1sJ3P6iMw&feature=youtu.be
Icon=text-html
